/* main.css -- Portfolio css main theme.
 *
 * Copyright (C) 2019-2023 by Pierre-Antoine Rouby <contact@parouby.fr>
 */

html {
    font-size: 1.0em;
    color: #212121;
    background-color: #fafafa;
    vertical-align: middle;
    margin: 0px;
    font-family: Dejavu Sans;
}

body {
    margin: 0px;
}

.content {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fafafa;
    magin: 0px;
}

h1 {
    padding-bottom: 25px;
    color: #212121;
    text-align: center;
    margin: 0px;
    padding: 10px;
    font-variant: small-caps;
}

h2 {
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    font-variant: small-caps;
}

h3 {
    font-size: 1.2em;
    /* font-style: strong; */
    font-variant: small-caps;
}
table td, table td * {
    vertical-align: top;
}

summary {
    font-size: 1.2em;
    font-style: strong;
    font-variant: small-caps;
}

a {
    color: #8742ba;
}

a:hover {
    color: #5c5c5c;
}

.navlink {
    color: #212121;
    font-style: bold;
    text-decoration: none;
    font-variant: small-caps;
}

.color-star {
    color: #8742ba;
}

.black-star {
    color: #b5b5b5;
}

.skills-icons {
    margin-left: 15px;
    margin-bottom: 10px;
}

.li-info {
    margin-bottom: 5px;
}

.li-contact {
    margin-bottom: 5px;
}

.li-diplome {
    margin-bottom: 10px;
}

.li-exp {
    margin-bottom: 10px;
}

.li-with-star {
    margin-left: 15px;
}

.head-contact {
    color: #4c4c4c;
}

img {
    margin-right: auto;
    max-width:100%;
}

i {
    margin: 5px;
    font-size: 50px;
    color: #4c4c4c;
}

.cc-button {
    margin-left: 5px;
}

.centred-img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.badges {
    margin-left: 10px;
}

header {
    width: 100%;
    background-color: #fafafa;
    color: #212121;
}

hr {
    max-width: 80%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -moz-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -ms-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
    background-image: -o-linear-gradient(left, #fafafa, #8c8b8b, #fafafa);
}

.date {
    font-style: italic;
    font-size: 0.75em;
}

/* Nav */
.nav {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-bottom: 1rem; */
}

.nav ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    padding: 1rem;
}

.cv {
    clear: both;
    display: table;
    /* columns: 20rem 3; */
    /* column-gap: 20px; */
}

.cv-bio {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.cv-c1 {
    float: left;
    width: 100%;
    min-width: 300px;
    vertical-align: top;
}


.cv-c2 {
    float: left;
    width: 100%;
    min-width: 300px;
    vertical-align: top;
}

.cv-c3 {
    float: right;
    width: 40%;
    min-width: 300px;
}


/* Code */
code {
    color: #fcfcff;
    background-color: #333333;
    display: block;
    padding: 10px;
    border-radius: 3px;
    font-family: monospace;
    font-size: 1.3em;
}

.syntax-symbol {

}

.syntax-string {
    color: #8742ba;
}

.syntax-comment {
    color: #acacac;
    font-style: italic;
}

.syntax-special {
    color: #70a0f2;
    font-weight: bold;
}

.syntax-keyword {
    color: #70a0f2;
}

/* Footer */
footer {
    padding-top: 8px;
    font-size: small;
    width: 100%;
    background-color: #fafafa;
    color: #333333;
    text-align: center;
}

/* Repl */
.repl {
}

.repl form {
}

.repl textarea {
    background-color: #444444;
    color: #dddddd;
    border: 0px;
    margin: 5px;
    padding: 10px;
    font-family: monospace;
    font-size: 1.3em;
    border-radius: 3px;
}


.repl input {
    background-color: #333333;
    color: #dddddd;
    border-radius: 5px;
    padding: 5px;
}

.console {
    /* background-color: #333333; */
    /* color: #dddddd; */
    margin: 5px;
    padding: 10px;
    font-family: monospace;
    font-size: 1.3em;
}
